{%- extends "base.html" -%}
{%- block title -%}{{title}}{%- endblock -%}
{%- block app_content -%}
<div class="container-fluid">
<h1>{{title}}</h1>

<h2>Kontakt</h2>
<address>
    Jakub Svoboda<br/>
    Centralstrasse 6<br/>
    3800 Interlaken<br/>
    Schweiz<br/>
    musicdb@bad-influence.rocks<br/>
</address>

<h3>Haftungsausschluss</h3>
<p>
Der Autor übernimmt keinerlei Gewähr für die Richtigkeit, Aktualität, Genauigkeit, Zuverlässigkeit und Vollständigkeit der Informationen.<br/><br/>
Haftungsansprüche gegen den Autor wegen Schäden jeglicher Art, die aus dem Zugriff oder der Nutzung/Nichtnutzung des Angebotes entstehen, werden ausgeschlossen.<br/><br/>

Der Autor behält es sich ausdrücklich vor, Teile der Seiten oder das gesamte Angebot ohne gesonderte Ankündigung zu verändern, zu ergänzen, zu löschen oder die Veröffentlichung zeitweise oder endgültig einzustellen.<br/><br/>
</p>

<h3>Haftungsausschluss für Inhalte und Links</h3>
<p>Links auf Webseiten Dritter liegen ausserhalb unseres Verantwortungsbereichs. Es wird jegliche Verantwortung abgelehnt. Der Zugriff und die Nutzung auf Webseiten Dritter erfolgt auf eigene Gefahr.<br/><br/>
</p>

<h3>Urheberrechtserklärung</h3>
<p>Alle Rechte an Inhalten, Bildern, Fotos oder anderen Dateien auf dieser Website, gehören ausschliesslich den speziell genannten Rechteinhabern. Für die Reproduktion jeglicher Inhalte ist die schriftliche Zustimmung des jeweiligen Urhebers  einzuholen.<br/><br/>
</p>

</div>
{%- endblock -%}
